// Global CSS variables for font sizes and families
:root {
	--font-family-main: consolas, 'Times New Roman', 'Arial, sans-serif';
	/* Default font family */
	--font-size-m: 16px;
	/* Base font size */
	--font-line-m: 24px;
	/* Base line height */
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
	/* Base font size in em */
	--font-size-l: 24px;
	/* Larger font size */
	--font-line-l: 32px;
	/* Larger line height */
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

	// size
	--navbar-height: 50px;
	/* Height of the Navbar */
	--navbar-padding: 10px 20px;
	/* Padding for the Navbar */
	--navbar-width: 100%;
	/* Width of the Navbar */
	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;
}