.Navbar {
	width: 100%;
	height: var(--navbar-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: var(--inverted-background-color);
	color: var(--text-color);
}

.links {
	font-size: var(--font-size-m);
	line-height: var(--font-line-m);
	& > *:first-child {
		margin-right: 20px;
	}
}
